<!-- Modal -->
<div class="modal fade" id="authorFollowingModal" tabindex="-1" aria-labelledby="authorFollowingModal" aria-hidden="true">
 <!-- Scrollable modal -->
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> {{ author.username}}'s Following </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="container">
              <div class="row">
                {% for follow_reletion in author.followings.all %}
                    <div class="col-md-auto">
                      <a href="/{{ follow_reletion.following.username }}">
                        <img class="rounded-circle user-avatar" alt="user-avatar" src="{{ follow_reletion.following.profile.avatar.url }}" height="36" width="36"
                             data-holder-rendered="true">
                      </a>
                    </div>
                    <div class="col">
                        <h6 type="button" class="user-name" href="/{{ follow_reletion.following.username }}">{{ follow_reletion.following.first_name }} {{ follow_reletion.following.last_name }}</h6>
                    </div>
                <hr class="mb-2 mt-2">
                {% endfor %}
            </div>
          </div>
      </div>
    </div>
  </div>
</div>