<!-- Modal -->
<div class="modal fade" id="authorFollowersModal" tabindex="-1" aria-labelledby="authorFollowersModal" aria-hidden="true">
 <!-- Scrollable modal -->
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> {{ author.username}}'s Followers </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="container">
              <div class="row justify-content-start">
                {% for follow_ralation in author.followers.all %}
                    <div class="col-2">
                        <img class="rounded-circle user-avatar" alt="user-avatar" src="/media/{{ follow_ralation.follower.profile.avatar }}" height="36" width="36"
                             data-holder-rendered="true" href="/{{ follow_ralation.follower.username }}">
                    </div>
                    <div class="col-10">
                        <h6 type="button" class="user-name" href="/{{ follow_ralation.follower.username }}">{{ follow_ralation.follower.first_name }} {{ follow_ralation.follower.last_name }}</h6>
                    </div>
                <hr class="mb-2 mt-2">
                {% endfor %}
            </div>
          </div>
      </div>
    </div>
  </div>
</div>