.navbar-nav.navbar-center {
            position: absolute;
            left: 50%;
            transform: translatex(-50%);
}
.alert {
            position: absolute;
            left: 50%;
            transform: translatex(-50%);
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.btn{
	box-shadow: none !important
}
.post-title {
    font-family: Times, Times New Roman , serif;
    font-weight: bold;

}

.post-content {
    font-family: Times, Times New Roman , serif;
}

.author-avatar {
  cursor: pointer;
}

a {
  color: #212529;
}

a:hover,
a:focus {
  color: #000000;
}

.post_tags {
  align-content: center;
  flex-wrap: wrap;
}

.post_tags .tag {
  padding: 0 5px;
  border-radius: 6px;
  background-color: lightgray;
}
