.post-description {
    font-family: serif;
}

.author-name {
    text-decoration: none;
}

.post-response .comment_post {
    text-decoration: none;
}

#right-side-bar {
    top: 4rem;
}

.right_side_bar {
    padding-right: 1rem;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
}