{% extends 'base.html' %}
{% load static %}
{% block head %} 
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
{% endblock %}
{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        {% if user.is_authenticated %}
                            <button class="nav-link posts-tab" id="following-authors-posts-tab" data-bs-toggle="tab" data-bs-target="#following-authors-posts" type="button" role="tab" aria-controls="following-authors-posts" aria-selected="false">Following</button>
                        {% else %}
                            <button class="nav-link" data-bs-toggle="modal" data-bs-target="#signInModal" type="button" role="tab" aria-controls="following-authors-posts" aria-selected="false">Following</button>
                        {% endif %}
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link posts-tab active" id="global-posts-tab" data-bs-toggle="tab" data-bs-target="#global-posts" type="button" role="tab" aria-controls="global-posts" aria-selected="true">Global</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active mt-2" id="global-posts" role="tabpanel" aria-labelledby="global-posts-tab">
                        <div class="row justify-content-center">
                        {% if not is_global_posts_exists %}
                            <h4 class="post-title">Nothing To Show Here For Now, Come Again Later</h2>
                        {% else %}
                        <article>
                        </article>
                        <h4>Yepp, you catched up all posts!</h4>
                        {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane fade mt-2" id="following-authors-posts" role="tabpanel" aria-labelledby="following-authors-posts-tab">
                        <div class="row justify-content-center">
                        {% if not is_following_authors_posts_exists %}
                            <h4 class="post-title">Nothing To Show Here For Now, Follow More Authors Or Come Again Later</h4>
                        {% else %}
                        <article>
                        </article>
                        <h4>Yepp, you catched up all posts of following authors!</h4>
                        {% endif %}
                        </div>
                  </div>
                </div>
            <hr class="mb-6">
            </div>
            <div class="col-md-3">
                <div class="position-sticky" id="right-side-bar">
                    <div class="right_side_bar">
                        <div class="who_to_follow">
                            <h4>Top authors</h4>
                            <hr>
                            <div class="row">
                                {% for author in who_to_follow %}
                                <div class="col-2 ">
                                    <a href="/{{ author.username }}">
                                        <img class="rounded-circle author-avatar mb-3" alt="author-avatar" src="/media/{{ author.profile.avatar }}" height="42" width="42"
                                        data-holder-rendered="true">
                                    </a>
                                </div>
                                <div class="col-10">
                                    <a class="author-name" href="/{{ author.username }}">
                                        <h6>{{ author.first_name|capfirst }} {{ author.last_name|capfirst }}</h6>
                                    </a>
                                    <p class="author-bio">{{ author.profile.bio|safe }}</p>
                                </div>
                                <hr>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="most_contributors">
                            <h4>Most contributors</h4>
                            <hr>
                            <div class="row">
                                {% for author in most_contributors %}
                                <div class="col-2 ">
                                    <a href="/{{ author.username }}">
                                        <img class="rounded-circle author-avatar mb-3" alt="author-avatar" src="/media/{{ author.profile.avatar }}" height="42" width="42"
                                        data-holder-rendered="true">
                                    </a>
                                </div>
                                <div class="col-10">
                                    <a class="author-name" href="/{{ author.username }}">
                                        <h6>{{ author.first_name|capfirst }} {{ author.last_name|capfirst }}</h6>
                                    </a>
                                    <p class="author-bio">{{ author.profile.bio|safe }}</p>
                                </div>
                                <hr>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
{% block script %}
    <!-- <script src="{% static 'js/main_page.js' %}"></script> -->
    <script src="{% static 'js/feed_view.js' %}"></script>
    <script src="{% static 'js/post_response.js' %}"></script>
{% endblock %}