{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-9">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        {% if user.is_authenticated %}
                            <button class="nav-link" id="following-authors-posts-tab" data-bs-toggle="tab" data-bs-target="#following-authors-posts" type="button" role="tab" aria-controls="following-authors-posts" aria-selected="false">Following</button>
                        {% else %}
                            <button class="nav-link" data-bs-toggle="modal" data-bs-target="#signInModal" type="button" role="tab" aria-controls="following-authors-posts" aria-selected="false">Following</button>
                        {% endif %}
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="global-posts-tab" data-bs-toggle="tab" data-bs-target="#global-posts" type="button" role="tab" aria-controls="global-posts" aria-selected="true">Global</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active mt-2" id="global-posts" role="tabpanel" aria-labelledby="global-posts-tab">
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            {% for post in all_posts %}
                                <div class="col">
                                    <div class="card h-100">

                                        {% include "includes/post_item_card.html" %}

                                    </div>
                                </div>
                            {% endfor %}
                        </div>
{# For the future pending use #}
{#                    <div class="pagination">#}
{#                        <span class="step-links">#}
{#                            {% if all_posts.has_previous %}#}
{#                                <a href="?gp-page=1">&laquo; first</a>#}
{#                                <a href="?gp-page={{ all_posts.previous_page_number }}">previous</a>#}
{#                            {% endif %}#}
{##}
{#                            <span class="current">#}
{#                                Page {{ all_posts.number }} of {{ all_posts.paginator.num_pages }}.#}
{#                            </span>#}
{##}
{#                            {% if all_posts.has_next %}#}
{#                                <a href="?gp-page={{ all_posts.next_page_number }}">next</a>#}
{#                                <a href="?gp-page={{ all_posts.paginator.num_pages }}">last &raquo;</a>#}
{#                            {% endif %}#}
{#                        </span>#}
{#                    </div>#}
                    </div>
                    <div class="tab-pane fade mt-2" id="following-authors-posts" role="tabpanel" aria-labelledby="following-authors-posts-tab">
                  {% if following_authors_posts.count == 0 %}
                      <h2 class="post-title">Nothing To Show Here For Now, Follow More Authors Or Come Again Later</h2>
                  {% else %}
                      <div class="row row-cols-1 row-cols-md-2 g-4">
                            {% for post in following_authors_posts %}
                                <div class="col">
                                    <div class="card h-100">
                                        {% include "includes/post_item_card.html" %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                  {% endif %}
{# For the future pending use #}
{#                      <div class="pagination">#}
{#                            <span class="step-links">#}
{#                                {% if following_authors_posts.has_previous %}#}
{#                                    <a href="?fp-page=1">&laquo; first</a>#}
{#                                    <a href="?fp-page={{ following_authors_posts.previous_page_number }}">previous</a>#}
{#                                {% endif %}#}
{##}
{#                                <span class="current">#}
{#                                    Page {{ following_authors_posts.number }} of {{ following_authors_posts.paginator.num_pages }}.#}
{#                                </span>#}
{##}
{#                                {% if following_authors_posts.has_next %}#}
{#                                    <a href="?fp-page={{ following_authors_posts.next_page_number }}">next</a>#}
{#                                    <a href="?fp-page={{ following_authors_posts.paginator.num_pages }}">last &raquo;</a>#}
{#                                {% endif %}#}
{#                            </span>#}
{#                       </div>#}
                  </div>
                </div>
            </div>
            <div class="col-md-2">
                <h3>SIDEBARSIDEBAR</h3>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
{% block script %}
    <script src="{% static 'js/post_response.js' %}"></script>
{% endblock %}