{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/author_view.css' %}">
    <link rel="stylesheet" href="{% static 'css/post_view.css' %}">
{% endblock %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block body %}

    <div class="container" id="postContainer" postid="{{ post.id }}" author="{{ author.username }}">
        {% include "includes/user_followers.html" %}

        <div class="row">

            <div class="author-posts col-md-8 mt-5">
                <div class="post">
                    <h1 class="post-title">{{ post.title|capfirst }} a lah and there there computer science student, studyi</h1>
                    <img src="/media/{{ post.thumbnail }}" class="img-fluid mt-4 mb-4 mx-auto d-block" alt="post-{{ post.id }}-thumbnail">
                    <h5 class="post-content">{{ post.content|capfirst }}</h5>
                    <a href="/{{ post.author.username }}/{{ post.slug }}"></a>
                </div>
                <hr>
            </div>
            <div class="author col-md-2 mt-5" id="author" value="{{ author.username }}">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="row">
                        <div class="col">
                            <img class="author-avatar mb-4 mx-auto d-block" alt="author-avatar"
                                 src="/media/{{ author.profile.avatar }}" id="author-avatar" href="/{{ author.username }}">
                        </div>
                        <div class="col">
                            <h5 class="author-name text-center" id="author-name" href="/{{ author.username }}">
                                {{ author.first_name|capfirst }} {{ author.last_name|capfirst }}
                            </h5>

                            <h6 class="author-bio" type="text">{{ author.profile.bio|title }} blah blah and there
                                there computer science student, studying in india</h6>

                        </div>
                    </div>
 {# Author Follow And Subscribe Status Section #}
                    <div class="col-md-12">

                        <h6 type="button" class="mt-2" id="author-followers" data-bs-toggle="modal" data-bs-target="#authorFollowersModal">{{ author.followers.count }} Followers</h6>
                        {% if user.is_authenticated %}
                            {% if author == request.user %}
                                <button class="btn btn-sm btn-success mt-2" disabled>
                                Follow</button>
                                <button class="btn btn-sm btn-success mt-2" disabled>
                                    Subscribe
                                </button>
                            {% else %}
                                <button class="btn btn-sm btn-success mt-2" id="follow-author" value="{{ follow_author_status }}" >
                                    Follow</button>
                                <button class="btn btn-sm btn-success mt-2" id="subscribe-author" value="{{ subscribe_author_status }}">
                                    Subscribe
                                </button>
                            {% endif %}
                        {% else %}
                            <button class="btn btn-sm btn-success mt-2" data-bs-toggle="modal" data-bs-target="#signInModal">
                            Follow</button>
                            <button class="btn btn-sm btn-success mt-2" data-bs-toggle="modal" data-bs-target="#signInModal">
                                Subscribe
                            </button>
                        {% endif %}
                    </div>
  {# Post Star, Comment and Save Status Section #}

                    <div class="row justify-content-start mt-4" postid="{{ post.id }}">
                        <div class="col fs-4 text-center" >
                            {% if user.is_authenticated %}
                                {% csrf_token %}
                                <i class="star-post bi bi-star" value="{{ star_post_status }}" href="/{{post.author.username}}/{{post.slug}}/star-post"></i>
                                <p class="post-response" id="post-response-star">
                                    {{ total_stars }}
                                </p>
                             {% else %}
                                <i class="bi bi-star" data-bs-toggle="modal" data-bs-target="#signInModal"></i>
                                <p class="post-response">
                                    {{ total_stars }}
                                </p>
                            {% endif %}
                        </div>
                        <div class="col post-response fs-4 text-center">
                            <i class="bi bi-chat" id="comment" data-bs-toggle="modal" data-bs-target="#signInModal"></i>
                            <p class="post-response">
                                9
                            </p>

                        </div>
                        <div class="col post-response fs-4 text-center">
                            {% if user.is_authenticated %}
                                {% csrf_token %}
                                <i class="save-post bi bi-save" id="save" value="{{ save_post_satus }}" href="/{{post.author.username}}/{{post.slug}}/save-post"></i>
                                <p class="post-response" id="post-response-save">
                                    {{ total_saves }}
                                </p>
                             {% else %}
                                <i class="bi bi-save" data-bs-toggle="modal" data-bs-target="#signInModal"></i>
                                <p class="post-response">
                                    {{ total_saves }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}
{% block footer %}{% endblock %}
{% block script %}
    <script src="{% static 'js/post_response.js' %}"></script>
{% endblock %}
