{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/author_view.css' %}">
    <link rel="stylesheet" href="{% static 'css/post_view.css' %}">
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/atom-one-dark-reasonable.min.css">
{% endblock %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block body %}

    <div class="container" id="postContainer" postid="{{ post.id }}" data-full-path="{{ request.get_full_path }}" author="{{ author.username }}">
        {% include "includes/user_followers.html" %}

        <div class="row">

            <div class="author-posts col-md-9 mt-5">
                <div class="post">
                    <h1 class="post-title">{{ post.title|capfirst }}</h1>
                    <div class="author_info row">
                        <div class="author_avatar col-sm-auto">
                           ~ <img src="/media/{{post.author.profile.avatar}}" height="36" width="36"
                        style="border: 1px solid black; border-radius: 18px" />
                        </div>
                        <div class="col">
                            <div class="row">
                                <h6 class="col-sm-auto">{{post.author}}</h6>
                                &#8226;
                                <p class=" col">{{post.published.date}}</p>
                            </div>
                        </div>
                    </div>
                    {% if post.tags %}
                        <div class="hstack post_tags gap-3 mt-2">
                            {% for tag in post.tags.names %}
                            <div class="tag border">{{ tag }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if post.source %}
                        {% if post.thumbnail %}
                            <img src="/media/{{ post.thumbnail }}" class="img-fluid mt-4 mx-auto d-block" alt="post-{{ post.id }}-thumbnail">
                        {% endif %}
                        <p class="post_source mb-4">(Source/Credits: <a href="{{post.source}}">{{post.source|safe}}</a>)</P>
                    {% else %}
                        {% if post.thumbnail %}
                            <img src="/media/{{ post.thumbnail }}" class="img-fluid mt-4 mb-4 mx-auto d-block" alt="post-{{ post.id }}-thumbnail">
                        {% endif %}
                    {% endif %}

                    {% if post.description %}
                    <p class="post-description mb-4">{{ post.description|safe }}</p>
                    {% endif %}
                    <p class="post-content">{{ post.content|safe }}</p>
                </div>
                <hr>
                {% include 'includes/comments_section.html' %}
            </div>
            <div class="author col mt-5" id="author" value="{{ author.username }}">
                <div class="position-sticky" style="top: 2rem;">
                    <div>
                        <img class="author-avatar mb-4 mx-auto d-block" alt="author-avatar"
                                src="/media/{{ author.profile.avatar }}" id="author-avatar" href="/{{ author.username }}">
                    </div>
                    <div>
                        <h5 class="author-name text-center" id="author-name" href="/{{ author.username }}">
                            {{ author.first_name|capfirst }} {{ author.last_name|capfirst }}
                        </h5>

                        <h6 class="author-bio" type="text">{{ author.profile.bio|title }}</h6>

                    </div>
 {# Author Follow And Subscribe Status Section #}
                    <div>
                        <h6 type="button" class="mt-2" id="author-followers" data-bs-toggle="modal" data-bs-target="#authorFollowersModal">{{ author.followers.count }} Followers</h6>
                        {% if user.is_authenticated %}
                            {% if author == request.user %}
                                <button class="btn btn-sm btn-success mt-2" disabled>
                                Follow</button>
                                <button class="btn btn-sm btn-success mt-2" disabled>
                                    Subscribe
                                </button>
                            {% else %}
                                <button class="btn btn-sm btn-success mt-2" id="follow-author" value="{{ follow_author_status }}" >
                                    Follow</button>
                                <button class="btn btn-sm btn-success mt-2" id="subscribe-author" value="{{ subscribe_author_status }}">
                                    Subscribe
                                </button>
                            {% endif %}
                        {% else %}
                            <button class="btn btn-sm btn-success mt-2" data-bs-toggle="modal" data-bs-target="#signInModal">
                            Follow</button>
                            <button class="btn btn-sm btn-success mt-2" data-bs-toggle="modal" data-bs-target="#signInModal">
                                Subscribe
                            </button>
                        {% endif %}
                    </div>
  {# Post Star, Comment and Save Status Section #}

                    <div class="row justify-content-start mt-4" postid="{{ post.id }}">
                        <div class="col fs-4 text-center" >
                            {% if user.is_authenticated %}
                                {% csrf_token %}
                                <i class="star-post bi bi-star" role="button" value="{{ star_post_status }}" href="/{{post.author.username}}/{{post.slug}}/star-post"></i>
                                <p class="post-response" id="post-response-star">
                                    {{ total_stars }}
                                </p>
                             {% else %}
                                <i class="bi bi-star" role="button" data-bs-toggle="modal" data-bs-target="#signInModal"></i>
                                <p class="post-response">
                                    {{ total_stars }}
                                </p>
                            {% endif %}
                        </div>
                        {% if user.is_authenticated %}
                        <div class="col post-response fs-4 text-center">
                        {% else %}
                        <div class="col post-response fs-4" role="button" data-bs-toggle="modal" data-bs-target="#signInModal">
                        {% endif %}
                            <a role="button" href="#comments-section">
                                <i class="bi bi-chat"></i>
                            </a>
                            <p class="post-response text-center">
                                {{ post_comments.count }}
                            </p>
                        </div>
                        <div class="col post-response fs-4 text-center">
                            {% if user.is_authenticated %}
                                {% csrf_token %}
                                <i class="save-post bi bi-save" role="button" id="save" value="{{ save_post_satus }}" href="/{{post.author.username}}/{{post.slug}}/save-post"></i>
                                <p class="post-response" id="post-response-save">
                                    {{ total_saves }}
                                </p>
                             {% else %}
                                <i class="bi bi-save" role="button" data-bs-toggle="modal" data-bs-target="#signInModal"></i>
                                <p class="post-response">
                                    {{ total_saves }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock %}
{% block footer %}{% endblock %}
{% block script %}
    <script src="{% static 'js/post_response.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
{% endblock %}
